<% if user_signed_in? %>
  <li>
  <%= button_to('Edit Registration', edit_user_registration_path, method: :get) %>
  </li>
<% else %>
  <li>
  <%= button_to('Register', new_user_registration_path, method: :get)  %>
  </li>
<% end %>